# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Vetores.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Pichau\RiderProjects\Vetores\.idea\.idea.Vetores\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
