# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.SwitchCase.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Pichau\RiderProjects\SwitchCase\.idea\.idea.SwitchCase\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
