# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.ModificadoresDeParametro.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Pichau\RiderProjects\ModificadoresDeParametro\.idea\.idea.ModificadoresDeParametro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
