# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CondicionalTernaria.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Pichau\RiderProjects\CondicionalTernaria\.idea\.idea.CondicionalTernaria\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
