# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.DateTime.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Pichau\RiderProjects\DateTime\.idea\.idea.DateTime\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
