# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TimeSpan02.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Pichau\RiderProjects\TimeSpan02\.idea\.idea.TimeSpan02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
