# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DateTime02.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Pichau\RiderProjects\DateTime02\.idea\.idea.DateTime02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
