# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.List.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Pichau\RiderProjects\List\.idea\.idea.List\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
